@font-face {
    font-family: "PublicSans";
    src: url("../fonts/PublicSans-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "PublicSans";
    src: url("../fonts/PublicSans-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "PublicSans";
    src: url("../fonts/PublicSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "PublicSans";
    src: url("../fonts/PublicSans-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "PublicSans";
    src: url("../fonts/PublicSans-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "PublicSans";
    src: url("../fonts/PublicSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}